@page "{id:int}"
@model Server.Pages.CheckoutModel
@{
    <html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .center{
          margin: auto;
          width: 50%;
          padding: 10px;
        }
    </style>
    </head>

    <body>
        <!-- Replace "test" with your own sandbox Business account app client ID -->
        <script src="https://www.paypal.com/sdk/js?client-id=AVui5BL3mw7hA9boU7wTPa4E1TBjsC4LQh08FzulF_nfso6myHMzRUXz_ZO58y2mFHlvYArKM0tOv9Hn&currency=PLN"></script>
        <!-- Set up a container element for the button -->
        <div id="paypal-button-container" class="center"></div>
        <script>
            var myOrder;
            paypal.Buttons({
                createOrder: (data, actions) => 
                {
                          return fetch("/api/Order/CreatePayPalOrder/@Model.OrderId.ToString()" , {
                            method: "post",
                          })
                          .then((response) => response.json())
                          .then((order) => {
                              return order.id;
                          })
                },
                onApprove: (data, actions) => 
                {
                    console.log(data.orderID);
                    return fetch(`/api/Order/CapturePayPalOrder/${data.orderID}`, {
                        method: "post",
                    })
                        .then( (response) => {
                            console.log(response);
                            return response.json();
                        })
                        .then((orderData) => {
                            myOrder = orderData;
                            console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                            const transaction = orderData.purchase_units[0].payments.captures[0];
                            alert(`Transaction ${transaction.status}: ${transaction.id}\n\nSee console for all available details`);
                        });
                },
                onError: (err) => {
                    console.error(err);
                }
            }).render('#paypal-button-container');
        </script>
    </body>
    </html>
}
