@page
@model Server.Pages.IndexModel
@{
    <! -- https://assetstore.unity.com/packages/tools/gui/responsive-webgl-template-117308 -->
    <!DOCTYPE html>
    <html lang="en-us">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Unity WebGL Player | VirtualMarket</title>
    </head>
    <body style="text-align: center">
        <canvas id="unity-canvas" style="width: 960px; height: 600px; background: url('Build/virtualmarket.jpg') center / cover"></canvas>
        <script src="Build/virtualmarket.loader.js"></script>
        <script>
            createUnityInstance(document.querySelector("#unity-canvas"), {
                dataUrl: "Build/virtualmarket.data",
                frameworkUrl: "Build/virtualmarket.framework.js",
                codeUrl: "Build/virtualmarket.wasm",
                streamingAssetsUrl: "StreamingAssets",
                companyName: "jaklewcomp",
                productName: "VirtualMarket",
                productVersion: "0.4",
            });
        </script>
        <script src="TemplateData/responsive.js"></script>
    </body>
    </html>


}
