@page
@model Server.Pages.Admin.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductModel.Title" class="control-label"></label>
                <input asp-for="ProductModel.Title" class="form-control" />
                <span asp-validation-for="ProductModel.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductModel.Description" class="control-label"></label>
                <input asp-for="ProductModel.Description" class="form-control" />
                <span asp-validation-for="ProductModel.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductModel.CategoryId"></label>
                <select asp-for="ProductModel.CategoryId" asp-items="@Model.Categories"></select> 
            </div>
            <div class="form-group">
                <label asp-for="ProductModel.Price" class="control-label"></label>
                <input asp-for="ProductModel.Price" class="form-control" step="0.01" type="number" />
                <span asp-validation-for="ProductModel.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductModel.DateCreated" class="control-label"></label>
                <input asp-for="ProductModel.DateCreated" class="form-control" />
                <span asp-validation-for="ProductModel.DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductModel.DateModified" class="control-label"></label>
                <input asp-for="ProductModel.DateModified" class="form-control" />
                <span asp-validation-for="ProductModel.DateModified" class="text-danger"></span>
            </div>
            <div vlass="form-group">
                <label asp-for="ProductModel.ThumbnailImage" class="contol-label"></label>
                <input type="file" asp-for="ProductModel.ThumbnailImage" class="form-control" accept="image/png,image/jpeg"/>
                <span asp-validation-for="ProductModel.ThumbnailImage" class="text-danger"></span>
            </div>
            <div vlass="form-group">
                <label asp-for="ProductModel.ArchiveImages" class="contol-label"></label>
                <input type="file" asp-for="ProductModel.ArchiveImages" class="form-control" accept=".zip" />
                <span asp-validation-for="ProductModel.ArchiveImages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>




        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
