@page
@model Server.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Admin Panel</h1>

<table class="table">
    <tbody>
        <tr>
            <a href="admin/Products">Products</a>
        </tr>
    </tbody>
</table>